
@font-face {
    font-family: MonumentExtended-light;
    src: url("../font/PPMonumentExtended-Light-BF645465a264007.otf");
}

  /*  Promo Section */
  .Promouph4 {
    color: white;
    margin-top: 40px;
    padding: 25px;
    font-size:60px;
    font-weight: bold;
    text-align: center;
  }
 
  .Promoupspan {
    text-align: center;
    color: white;
    font-size: 15px;
    word-spacing: 5px;
  }
 
  .Promodownh5 {
    color: white;
    margin-top:80px;
    padding: 25px;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
  }

  .Promodownspan{
    text-align: center;
    color: white;
    font-size: 15px;
    word-spacing: 5px;
  }

  .Promoboxes{
    color: white;
    margin: 40px;
    padding: 15px;
    width: 100%;
    background-color: red;
    transition: all 1s;
    border: 1px solid white;
  }

  .Promoboxes:hover{
    box-shadow: -4px -2px 50px gray;
  }
  
  .Promoboxes h6{
    font-size: 30px;
  }

  .Promoboxes p{
    margin-top: 8px;
  }
/* ============================================================= */

/* Echo Section */

.Echoh5{
    color: white;
    margin-top:80px;
    padding: 25px;
    font-size: 70px;
    font-weight: bolder;
    text-align: center;
}

.Echospan{
    text-align: center;
    color: white;
    font-size: 15px;
    word-spacing: 5px;
    margin-bottom: 30px;
}

.EchoCart1{
    color: white;
    width: 100%;
    background-color: red;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    padding: 30px 20px;
    margin: 10px auto;
}

.EchoCarth51{
    font-size: 35px;
    margin-bottom: 40px;
    word-wrap: break-word;
}

.EchoCartp1{
    font-family: MonumentExtended-light;
    font-size: 15px;
    word-spacing: 5px;
}

.EchoCart2{
    color: white;
    width: 100%;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    padding: 30px 20px;
    margin: 10px auto;
}

.EchoCart3{
    color: white;
    width: 100%;
    background-color: red;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    padding: 30px 20px;
    margin: 10px auto;
}

/* WeDon't Section */

.WeDonth5{
    color: white;
    margin-top:80px;
    padding: 25px;
    font-size: 70px;
    font-weight: bolder;
    text-align: center;
    
}

.WeDont1{
    color: white;
    width: 100%;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    padding: 30px 20px;
    margin: 10px auto;
    line-height: 20px;
}

.WeDonth51{
    font-size: 35px;
    margin-bottom: 40px;
    word-wrap: break-word;
}

.WeDontp1{
    font-size: 15px;
    word-spacing: 5px;
    font-family: MonumentExtended-light;
}

.WeDont2{
    color: white;
    width: 100%;
    background-color: red;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    padding: 30px 20px;
    margin: 10px auto;
    line-height: 22px;
}

.WeDont3{
    color: white;
    width: 100%;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    padding: 30px 20px;
    margin: 10px auto;
    line-height: 38px;
}


/* ============================================================= */

/* ============================================================= */
@media screen and (max-width: 992px) {
    .Promodownh5 {
        font-size: 50px;
    }
    .Promoboxes{
        width: auto;
        margin: 10px 5px;
    }
    .Echoh5{
    font-size: 50px;
    }

  }

@media screen and (max-width: 768px) { 
    .Promodownh5 {
        font-size: 38px;
    }
}
@media screen and (max-width: 575px){
    .Promodownh5 {
        font-size: 30px;
    }
}
@media screen and (max-width: 480px){
    .Promouph4{
        font-size: 35px;
    }
    .Promodownspan{
        font-size: 12px;
    }
    .Promodownh5 {
        font-size: 24px;
    }
    .Promoupspan {
        font-size: 12px;
    }
    .Echoh5{
        font-size: 30px;
    }
    .EchoCarth51{
        font-size: 25px;
    }
}


/* ============================================================= */