
@font-face {
    font-family: MonumentExtended-light;
    src: url("../font/PPMonumentExtended-Light-BF645465a264007.otf");
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* DEVOPS SECTION CSS =-=-=-=-=-=-=-=-=-=-=-=-=- */
.devOpsDesBox{
    margin-top: 50px;
    margin-bottom: 20px;
    color: white;
}

.devOpsDesBox h5{
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
}

.devOpsDesBox p{
    margin-top: 15px;
    font-family: 'Poppins', sans-serif !important;
    font-size: 16px;
    font-weight: 400;
}

.devOpsDesBox span{
    font-size: 18px;
    font-weight: 400;
}

.devOpsDesBox img{
    margin: auto;
    display: block;
    object-fit: contain;
    height: 111px;
}
/* =================================================== */
/* SMART CHOICE SECTION CSS =-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-=- */
.smartChoiceBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.smartChoiceHead {
    margin: 30px 0 10px 0;
    text-align: center;
    color: #FFFFFF;
    font-family: "monument regular", Sans-serif;
    font-size: 38px;
    font-weight: 600;
    text-transform: uppercase;
}

.smartChoiceDes {
    font-family: MonumentExtended-light !important;
    color: #FFFFFF;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    font-weight: 200;
}

.smartChoiceItems {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.smartChoiceItems .flip_card {
    background-color: transparent;
    width: 23%;
    height: 250px;
    perspective: 1000px;
    cursor: pointer;
}

.flip_card .flip_card_inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.6s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.flip_card .flip_card_inner .flip_card_front,
.flip_card .flip_card_inner .flip_card_back {
    position: absolute;
    width: 100%;
    height: 100%;
}

.flip_card .flip_card_inner .flip_card_front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e22f2c;
    color: white;
    border: 1px solid white;
    z-index: 2;
}

.flip_card .flip_card_inner .flip_card_front svg {
    font-size: 50px;
}

.flip_card .flip_card_inner .flip_card_front h5 {
    margin: 20px 0;
    font-size: 13px;
}

.flip_card .flip_card_inner .flip_card_back {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background: white;
    color: black;
    transform: rotateY(180deg);
    z-index: 1;
}

.flip_card .flip_card_inner .flip_card_back p {
    font-weight: 300;
    font-size: 12px;
}

.flip_card:hover .flip_card_inner {
    transform: rotateY(180deg);
}
.logomisAimBox{
    color: white;
}
.logomisAimBox img{
    width: 100%;
    object-fit: contain;
    margin: auto;
    display: block;
}
.logomisAimBox h2{
    font-size: 35px;
    font-weight: 400;
}
.textAnimations{
    font-size: 200px;
    color: white
}

.servicesTabsSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.servicesTabsSection .servicesSecInnerBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 9px 0;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
}
.servicesTabsSection .servicesSecInnerBox .servicesleftBox{
    display: flex;
    align-items: center;
    width: 80%;
    margin-top: 20px;
    
}
.servicesleftBox img{
    height: 70px;
}
.servicesleftBox h5{
    font-size: 40px;
    margin-left: 20px;
}
.servicesTabsSection .servicesSecInnerBox img.rightArrowImgServices{
    filter: invert(44%) sepia(69%) saturate(7069%) hue-rotate(2deg) brightness(103%) contrast(100%);
    height: 20px;
}

/* ========================================== */
@media screen and (max-width: 992px){
    .smartChoiceHead {
        font-size: 25px;
    }
    .smartChoiceDes {
        font-size: 14px;
    }
    .smartChoiceItems .flip_card {
        width: 45%;
        margin: 20px 0;
    }
}
@media screen and (max-width: 480px){
    .smartChoiceDes {
        font-size: 14px;
    }
    .smartChoiceItems .flip_card {
        width: 99%;
        margin: 10px 0;
    }
}